.nav{
  text-align: center;
  background-color: #025157;
  max-width: unset;
  min-height: 50px;
}

li{
  display: inline;
}

body {
  background-color: #fffbf7;
}

button{
  color: #fff;
  background-color:  #025157;
  text-align: center;
  border-radius: 10px;
  width: 150px;
  height: 30px;
}

.logo {
  position: relative;
  
}

h1 {
  color: #025157;
}
