.nav{
  text-align: center;
  background-color: #025157;
  width: 100%;
  min-height: 50px;
}

li{
  display: inline;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fffbf7;
  font-family: 'Roboto Condensed', sans-serif;
}

button{
  color: #fff;
  background-color:  #025157;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  

.logo{
  display: inline;
}

h1 {
  color: #025157;
}
