.nav{
  background-color: #025157;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

body {
  background-color: #fffbf7;
}

button{
  color: #fff;
  background-color:  #025157;
  border-radius: 10px;
  width: 150px;
  height: 30px;
}

.logo {
  position: relative;
  
}

h1 {
  color: #025157;
}
